.sign-in-register {
  width: 86vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .sign-in-register {
    width: 68vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}