.sign-in {
  width: 80vw;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .sign-in {
    width: 30vw;
  }
}