.sign-in {
  width: 80vw;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .sign-in-error {
    margin: 20px 20px 0 0;
    color: red;
    font: caption;
  }
}

@media (min-width: 1025px) {
  .sign-in {
    width: 30vw;
  }
}