.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  position: sticky;
  background-color: white;
  top: 0px;
  border-bottom: 1px solid darkseagreen;
  z-index: 1000;
  opacity: 1;

  .logo-container {
    height: 100%;
    width: 17vw;

    .logo {
      width:100%;
    }
  }

  .options {
    width: 74%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    margin-bottom: 25px;

    .logo-container {
      width: 5vw;
    }
    .options {
      width: 50%;

      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
}